@model UserProfileDto

<div class="col-sm-7">
    <div class="card-body">
        <h5 class="card-title text-primary">Hoşgeldin @Model.FirstName @Model.LastName! 🎉</h5>
        <p class="mb-4">
            You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
            your profile.
        </p>

        <a asp-area="" asp-controller="Home" class="btn btn-sm btn-outline-primary">Anasayfaya Dön</a>
    </div>
</div>