@model ArticleUpdateDto

<div class="container-xxl flex-grow-1 container-p-y">
    @await Component.InvokeAsync("DashboardTitle")
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Güncelleme</h5>
                <form asp-controller="Article" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="CategoryId" class="form-label">Kategori</label>
                            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" id="categoryList" class="form-control"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title" class="form-label">Başlık</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Başlık" aria-describedby="defaultFormControlHelp" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Content" class="form-label">İçerik</label>
                            <textarea asp-for="Content" type="text" class="form-control" placeholder="İçerik" aria-describedby="defaultFormControlHelp"></textarea>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Image.FileName" class="form-label d-block">Mevcut Resim</label>
                            <img src="~/images/@Model.Image?.FileName" alt="@Model.Title" class="img-fluid w-25 mb-3" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Photo" class="form-label">Resim Seçiniz</label>
                            <input asp-for="Photo" type="file" accept="image/*" class="form-control" aria-describedby="defaultFormControlHelp" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Makale Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>